body {
    display: grid;
    grid-template: auto 1fr / 1fr 4fr;
    /* height: 100vh;  */
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: rgb(121, 82, 239);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 36px;
    color: white;
    padding: 24px;
    font-weight: 500;
}

.sidebar-one {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 16px;
}

.sidebar-one svg {
    fill: white;
    width: 30px;
}

.sidebar-two,
.sidebar-three {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-two div {
    padding: 4px 0px;
    display: flex;
    gap: 16px;
}

.sidebar-three div {
    display: flex;
    gap: 16px;
    padding: 4px 0px;
}

.sidebar-two svg,
.sidebar-three svg {
    fill: white;
    width: 24px;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
    padding: 16px 50px;
}

.header-one {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.header-one>input {
    background-color: rgb(228, 227, 227);
    width: 80%;
    height: 30px;
    outline: 0px;
    border: 0px;
    border-radius: 36px;
    padding: 4px 36px;
}

.header-two {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}

.header-two>img {
    border-radius: 50%;
    width: 50px;
}

.header-two-greet {
    font-weight: bold;
}

.header-two-hi {
    font-size: smaller;
}

.header-two button {
    border: 0px;
    border-radius: 24px;
    padding: 10px 24px;
    background-color: rgb(153, 150, 248);
    color: white;
    font-weight: bold;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    background-color: rgb(223, 223, 223);
    grid-template-columns: 3fr 1fr;
    column-gap: 24px;
    padding: 36px;
}

.your-projects-text {
    font-weight: bold;
}

.main-one {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 12px;
}

.main-two {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 12px;
}

.announcement-text {
    font-weight: bold;
}

.projects-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    row-gap: 24px;
    column-gap: 24px;
}

.main-card,
.ann-card,
.trending-section {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
}

.main-card {
    border-left: 8px solid orange;
    display: flex;
    flex-direction: column;
}

.main-card-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.main-card-content {
    font-size: 14px;
}

.main-card-icons {
    display: flex;
    gap: 16px;
    margin-top: auto;
    justify-content: flex-end;
    padding-top: 20px;
}

.trending-text {
    font-weight: bold;
}

.ann-card {
    margin-bottom: 24px;
    font-size: small;
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 4px;
}
.ann-card-heading {
    font-weight: bolder;
}

hr {
    grid-column: 1 / -1;
    border: 0;
    border-top: 1px solid #d8d8d8;
    /* margin: 6px 0; */
    width: 100%;
}



.trending-section {
    font-size: small;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 12px;
}

.trending-card .user-id {
    font-weight: bolder;
}

.trending-card {
    display: flex;
    gap: 6%;
}

.trending-card img {
    object-fit: contain;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

li {
    list-style: none;
}